/* 
  Student Name: Yeona Choi
  Chapter 7 Lab
  File Name: styles.css
  Date: 10/25/2025
*/

/* ========================
   Base Mobile Styles
======================== */

/* Show mobile, hide tablet/desktop by default */
.mobile {
  display: block;
}

.tab-desk {
  display: none;
}

/* Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3,
ul,
aside,
figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Base layout */
body {
  background-color: #f6eee4;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  background-color: #2a1f14;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

nav li {
  display: block;
  border-top: 0.5px solid #f6eee4;
}

nav li a {
  display: block;
  color: #f6eee4;
  padding: 0.5em 2em;
  text-decoration: none;
}

/* Header text */
.mobile h1,
.mobile h3 {
  padding: 2%;
  text-align: center;
}

.mobile h1 {
  font-family: "Emblema One", cursive;
}

.mobile h3 {
  font-family: "Lora", serif;
}

/* Main content */
main {
  padding: 2%;
  font-family: "Lora", serif;
}

main p {
  font-size: 1.25em;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style-type: square;
}

/* Links */
.link {
  color: #4d3319;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

/* Emphasis */
.action {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

/* Contact section */
#contact {
  text-align: center;
}

.tel-link {
  background-color: #2a1f14;
  padding: 2%;
  width: 80%;
  margin: 0 auto;
}

.tel-link a {
  color: #f6eee4;
  text-decoration: none;
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #2a1f14;
  color: #f6eee4;
  padding: 1% 0;
}

footer a {
  color: #f3e6d8;
  text-decoration: none;
}

/* Info Section */
#info ul {
  margin-left: 10%;
}


aside {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 4px 4px 10px #c5a687;
}

figure {
  border: 4px solid #2a1f14;
  box-shadow: 6px 6px 10px #c5a687;
  max-width: 400px;
  margin: 2% auto;
}

figcaption {
  padding: 2%;
  border-top: 4px solid #2a1f14;
}

/* ========================
   Media Query for Tablet Viewport
======================== */
@media screen and (min-width: 620px), print {
  .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }

  nav li {
    border-top: none;
    display: inline-block;
  }

  nav li a {
    font-size: 1.25em;
    padding: 0.5em 1.5em;
  }

  nav ul {
    text-align: center;
  }

  main {
    width: 90%;
    margin: 0 auto;
  }
  /* GRID: 2 columns tablet */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  aside {
    grid-column: 1 / span 2;
  }

  /* Tablet Contact Form */
  .form-grid {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  textarea,
  #submit {
    grid-column: 1 / span 2;
  }
}

/* ========================
   Media Query for Desktop Viewport
======================== */
@media screen and (min-width: 1000px), print {

  nav ul {
    text-align: center;
  }

  nav li {
    display: inline-block;
  }

  nav li a {
    font-size: 1.5em;
    padding: 0.75em 1.5em;
  }

  nav li a:hover {
    color: #2a1f14;
    background-color: #f6eee4;
    opacity: 0.8;
    text-decoration: underline;
  }

  #wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  aside {
    grid-column: 1 / span 3;
    font-size: 2em;
  }

  /* Desktop: show desktop-only content, hide mobile-tablet */
  .desktop {
    display: block;
  }

  .mobile-tablet {
    display: none;
  }

  /* Desktop table styling */
  table {
    width: 90%;
    margin: 0 auto;
    font-size: 1em;
  }

  /* Desktop Contact Form */
  #form {
    width: 80%;
    margin: 2% auto;
    padding: 2%;
  }

  .form-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  fieldset {
    grid-column: 1 / span 3;
    padding: 2%;
    border: 2px solid #4d3319;
    border-radius: 10px;
    background-color: #fff;
  }

  textarea {
    grid-column: 1 / span 3;
  }

  #submit {
    grid-column: 2 / span 1;
    justify-self: center;
  }
}

/* ========================
   Media Query for Large Desktop Viewports
======================== */
@media screen and (min-width: 1921px) {
  body {
    background: linear-gradient(#f6eee4, #78593a);
  }

  #wrapper {
    width: 1920px;
    margin: 0 auto;
  }

  main {
    background-color: #f6eee4;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  aside {
    grid-column: 1 / span 4;
    font-size: 3em;
  }
}

/* ========================
   Media Query for Print
======================== */
@media print {
  body {
    background-color: white;
    color: black;
  }

  nav,
  footer {
    display: none;
  }
}
