/* 
  Student Name: Yeona Choi
  File Name: styles.css
  Date: 10/3/2025
*/

/* Style rules for mobile viewport */
/* Style rules to show mobile class and hide tab-desk class */
.mobile {
  display: block;
}

.tab-desk {
  display: none;
}

/* Reset and base styles */
body,
header,
nav,
main,
footer,
img,
h1,
h3,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f6eee4;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  background-color: #2a1f14;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

nav li {
  display: block;
  border-top: 0.5px solid #f6eee4;
}

nav li a {
  display: block;
  color: #f6eee4;
  padding: 0.5em 2em;
  text-decoration: none;
}

/* Style rules for header area */
.mobile h1,
.mobile h3 {
  padding: 2%;
  text-align: center;
}

/* Style rules for main content */
main {
  padding: 2%;
  font-family: "Lora", serif;
}

main p {
  font-size: 1.25em;
}

main h3 {
  padding-top: 2%;
  font-family: "Lora", serif;
}

main ul {
  list-style-type: square;
}

.link {
  color: #4d3319;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.action {
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

#contact {
  text-align: center;
}

.tel-link {
  background-color: #2a1f14;
  padding: 2%;
  width: 80%;
  margin: 0 auto;
}

.tel-link a {
  color: #6ee4e4;
  text-decoration: none;
  font-weight: bold;
}

/* Google Fonts */
.mobile h1 {
  font-family: "Emblema One", cursive;
}

.mobile h3 {
  font-family: "Lora", serif;
}

/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #2a1f14;
  color: #f6eee4;
  padding: 1% 0;
}

footer a {
  color: #f3e6d8;
  text-decoration: none;
}

#info ul {
  margin-left: 10%;
}
