/* SP - Chap 7 Demo */

/* This is a css comment. We will place our styling below */

/* Body Styling */

/* Header Styling */

/* Footer Styling */

/* Aside Styling */

/* Main Grid Styles */

/* Responsive Grid for Desktop, Tablet, and Mobile */

/* Figure Styling */

/* Image Styling */

/* Figcaption Styling */